<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
</head>
<body>
    <div class="w-full max-h-full  bg-zinc-800 p-2 text-white">
        <div class="w-full flex justify-end">
            <a href="/logout"><button class=" bg-blue-600 rounded-md px-3 py-2 mt-4">logout </button></a>
        </div>
        <div class="flex justify-center flex-col content-center items-center">
           <a href="/upload"> <div class="w-32 h-32 rounded-md border-2 border-zinc-600">
                <img class="w-full h-full object-cover" src="/images/upload/<%= user.profilePic %>" alt="">
            </div></a>
            <h1 class="flex justify-center  tracking-tighter text-2xl">welcome <%= user.username %></h1>
            <form action="/post" method="post">
                <textarea class="w-96 h-32 outline-none bg-transparent border-2 border-zinc-600 resize-none bg-transparent rounded-md bg-zinc-600 mt-4 text-white px-3 py-2 " placeholder="what's on your mind!?." name="content" id=""></textarea>
                <input class="cursor-pointer block bg-blue-600 w-32 px-4 py-2 mt-3 rounded-md" type="submit" value="post">
            </form>
            
        </div>
        <div class="flex flex-wrap gap-3 ml-3 w-full max-h-full">    
            <% user.posts.reverse().forEach(function(post){ %>
                <div class=" p-2 w-80 h-32 bg-zinc-600 mt-4 rounded-md mb-4"> 
                    <h4><%= user.username %></h4>
                    <p class="text-sm tracking-tighter"> <%= post.content %></p>  
                    <div class="flex mt-4 gap-3 items-center">
                        <a class="bg-blue-600 rounded-md p-2" href="/like/<%= post._id %>">
                           <%= post.like.indexOf(user._id) === -1 ? "like" : "unlike" %>
                        </a>
                        <small class="text-tighter mb-2 ">| <%= post.like.length %> |</small>
                        <a class="bg-yellow-600 rounded-md p-2" href="/edit/<%= post._id %>">Edit</a>
                        <a class="bg-red-600 rounded-md p-2" href="/delete/<%= post._id %>">Delete</a>
                    </div>  
                </div>   
           <% }) %>
        </div>
        </div>
    </div>
</body>
</html>